@charset "utf-8";
/*
///////////////////////////////////////////////////////////////////
// File: style.css
// Author: Sebatian Lenczewski
// Copyright: 2016, Sebastian Lenczewski, Algonquin College
// Desc: This file contains CSS styling to be added to the html
///////////////////////////////////////////////////////////////////
*/


img, canvas, #buttonDiv{
	position:absolute;
	padding:0px;
	margin:0px;
	left:0px;
	top:0px;
}


body{
	background:#333;
}

img{
	border:#CCCCCC 2px solid;
}


canvas{
	background:#000;
}


#buttonDiv{
	top:640px;
	width:640px;
	
	
}






button{
	width:240px;
	height:60px;
	font-size:36px;
	font-family:Tahoma, Geneva, sans-serif;
	margin:16px 0px 0px 50px;
}

